.container {
    display: flex;
    flex-direction: row;
}

.left {
    text-align: left;
    width: 33%;
}

.mid {
    text-align: left;
    width: 33%
}

.right {
    text-align: left;
    width: 33%
}

userDiv {
    border-style: ridge;
    border-width: 7px;
}

.TodoAddDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divBtns {
    display: flex;
    justify-content: flex-end;
}

.spanStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}